*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    border: 2px solid black;
    justify-content: center;
}

.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content:center;

}
a{
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 20px;
    justify-content:center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content:space-between;
}